<server description="Sample Liberty server">
    <featureManager>
    	<!-- Eclipse Microprofile 6.1 -->
    	<!-- See details here: https://openliberty.io/docs/ref/feature/#microProfile-6.1.html -->
    	<feature>microProfile-6.1</feature>
    </featureManager>

    <webApplication location="${project.name}.war" contextRoot="/">
    	<appProperties>
     		<property name="app.docs-for-rag.dir" value="${docragdir}"/>
  		</appProperties>
  		<classloader commonLibraryRef="djLNativeLib" /> 
    </webApplication>
    
    <library id="djLNativeLib">
    	<fileset dir="${shared.resource.dir}/lib/tokenizers/" includes="*.dll, *.so" />
	</library>
    <mpMetrics authentication="false"/>
</server>